body{
    background: rgb(195, 203, 202);
}
.buttons input[type="button"]{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 22px;
    border: none;
    color: white;
    background-color: rgb(22, 138, 22);
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    cursor: pointer;
}
.buttons{
    display: flex;
    flex-direction: row;
    width: 320px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: auto;
    border-top: 1.5px solid rgb(83, 83, 83);
    padding-top: 30px; 
}
.buttons input[type="button"]:active{
    background-color: rgb(64, 228, 64);
    font-size: 18px;
}
.area{
    height: 150px;
    display: block;
    width: 320px;
    margin: 20px auto 0 auto;
    position: relative;
}
.area #calc_area{
    border: none;
    outline: none;
    font-size: 24px;
    display: block;
    margin: auto;
    padding-top: 30px;
    max-width: 320px;
    font-family: Arial;
    overflow: hidden;
}
.area input[type="button"]{
    background: rgb(198, 0, 56);
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 30px;
    width: 40px;
    font-size: 22px;
    font-family: Arial;
    color: white;
    border: none;
    outline: none;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    cursor: pointer;
}
.area input[type="button"]:active{
    font-size: 18px;
    background: rgb(242, 48, 48);
}